body{
  background:#bcbce8;text-transform: capitalize;
}
.left{
   background:#000;
   position: fixed;
   width: 1000%;height: 50px;overflow: hidden;
    margin:-20px;
     padding:0px 0px 0px 2px; z-index:1 ;
}
.left a {
  background:#80828a;padding: 14px; float: left;
  text-align: center;text-decoration:none;font-size: 20px;color: #000;color: #1637e1;
}
.time{
  margin: 20px;padding: 30px;font-style:oblique;
}
.nav:hover  p{
  display: none;
}
.un{
  background: #4568;margin:66px 50px 3px -126px ;padding:20px;
   float: left;position: fixed;text-align: center;width:90px;
}
.un:hover{
  margin:66px 50px 3px -20px; border-radius: 30px;
  background:#2c81a188;transition: .35s ease-in-out all;
}
.deux{
  background: #4568;margin:128px 50px 3px -125px ;padding:20px;
  float: left;position: fixed;text-align: center;width:90px;
}
.deux:hover{
  margin:128px 50px 3px -20px; border-radius: 30px;
  background: #6661be88;transition:.35s ease-in-out all;
}
.tro{
  background: #4568;margin:190px 50px 3px -125px ;padding:20px;
   float: left;position: fixed;text-align: center;width:90px;
}
.tro:hover{
  margin:190px 50px 3px -20px; border-radius: 30px;
  background: #a253ab88;transition: .35s all ease-in-out;
}
.quter{
  background: #4568;margin:253px 50px 3px -125px ;padding:20px;
   float: left;position: fixed;text-align: center;width:90px;
}
.quter:hover{
  margin:253px 50px 3px -20px; border-radius: 30px;background:#76020288;transition:.35s ease-in-out ;
}
ol{
  list-style-type:none;
}
.black{
   background-color: black;
   color: white;
   padding: 10px;margin: 10px 10px 6px -19px;
   position: sticky;
   top: 71px;
   left: 0;border-radius: 30px;
}

.be{
  background:rgb(233, 178, 178); padding: 10px;margin:30px 160px; width: auto;
  border-radius: 10px; line-height: 30px;
}
.be p{
  transition: .12s; max-height: 23px; overflow: hidden;
}
.be:hover p {
  max-height: 160px !important
}
.second{
  padding: 70px; background: #6788; margin: 50px;
}
.second:hover:after{
  content: 'the hover';
  background: rgba(107,157,175, 1);
  padding: 20px;
  margin-top: 30px; display: block;
}
.with p{
  background: rgba(151, 173,215, 0.5); display: block;padding: 30px;margin: 40px 80px;display:block;
}
/*يظهرthe hover مش عارفه اعمل الديف اللي فيه */
.with:after {display:block;}
/*يظهرthe hover مش عارفه اعمل الديف اللي فيه */
.last{
  background:url('../imags/bahr.jpg')100% fixed; margin: 20px;padding: 20px;
}
div .one p{
   padding: 20px;margin: 30px;  background: #476e85eb;
}
.other{
  background: #5ae0e0; padding: 20px;margin: 20px;
}
p:hover ~ p{
  background:#0da5ffeb; transition: 2s;
}
.ui p:first-letter{
  font-size: 30px; color:#3e2723; background:  #000 ;border-radius:8px;
}
.ui{
  background:#07070255;margin: 70px;padding: 6px 10px 20px 10px;
}
.ui p:first-line{
  background:#d7d5e888;
}
