body{
  background:#bcbce8;text-transform: capitalize;
}
.left{
   background:#1f2022;
   position: fixed;
   width: 1000%;height: 50px;overflow: hidden;  margin:-20px;
     padding:0px 0px 0px 2px;
}
.left a {
  background:#80828a;padding: 14px; float: left;
  text-align: center;text-decoration:none;font-size: 20px;color: #000;color: #1637e1;
}
.time{
  margin: 20px;padding: 30px;font-style:oblique;
}
.nav:hover  p{
  display: none;
}
.un{
  background: #4568;margin:66px 50px 3px -76px ;padding:20px; float: left;position: fixed;text-align: center;
}
.un:hover{
  margin:66px 50px 3px -20px; border-radius: 30px;background:#2c81a188;transition: 1s ease-in-out all;
}
.deux{
  background: #4568;margin:128px 50px 3px -67px ;padding:20px; float: left;position: fixed;text-align: center;
}
.deux:hover{
  margin:128px 50px 3px -20px; border-radius: 30px;background: #6661be88;transition: 1s ease-in-out all;
}
.tro{
  background: #4568;margin:190px 50px 3px -87px ;padding:20px; float: left;position: fixed;text-align: center;
}
.tro:hover{
  margin:190px 50px 3px -20px; border-radius: 30px;background: #a253ab88;transition: 1s ease-in-out all;
}
.quter{
  background: #4568;margin:253px 50px 3px -92px ;padding:20px; float: left;position: fixed;text-align: center;
}
.quter:hover{
  margin:253px 50px 3px -20px; border-radius: 30px;background:#76020288;transition: 1s ease-in-out ;
}
ol{
  list-style-type:none;
}
.black{
  background: black;width: 100%;color: #fff;margin: 20px 0px 10px -27px;padding:10px; border-radius: 30px
}
.be{
  background:rgb(208, 154, 154); padding: 10px;margin:30px 160px; width: auto;text-align: center;
  border-radius: 10px;
}
.be p{
  display: none;transition: 1s ease-in-out ;
}
.be:hover p{
  display: block;
}
.with p{
  background: rgba(151, 173,215, 0.5); display: block;padding: 30px;margin: 40px 80px;display:block;
}
/*يظهرthe hover مش عارفه اعمل الديف اللي فيه */
.with:after {display:block;}
/*يظهرthe hover مش عارفه اعمل الديف اللي فيه */
.last{
  background:url('../imags/bahr.jpg')100% fixed; margin: 20px;padding: 20px;
}
div .one p{
   padding: 20px;margin: 30px;  background: #476e85eb;
}
.other{
  background: #5ae0e0; padding: 20px;margin: 20px;
}
p:hover ~ p{
  background:#0da5ffeb; transition: 2s;
}
.ui p:first-letter{
  font-size: 50px; color: #7324; background: #4568;border-radius:30px;
}
.ui{
  background: #8875;margin: 70px;padding: 6px 10px 20px 10px;
}
.ui span{
  background: #9767; padding: -39px;
}
